{% if weathers is not empty %}
	<div>
		Weather results for: <b>{{ city }}</b>
		{% if downloadEnabled %}
		<a href="{{ path('pianosolo_weather_generate_csv', {'city':city, 'days':weathers|length}) }}">Download as CSV</a>
		{% endif %}
	</div>
	<br>
	<table class="table">
		<thead>
			<tr>
				<th>Date</th>
				<th>City</th>
				<th>Temperature</th>
				<th>Description</th>
			</tr>
		</thead>
    	<tbody>
		{% for weather in weathers %}
			<tr>
				<td>{{ weather.wdate }}</td>
				<td>{{ weather.city }}</td>
				<td>{{ weather.temperature }} &deg;C</td>
				<td>{{ weather.description }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}
